:root {
    --main-color: #45F0DF;
    background: #45F0DF;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    align-items: center;
    /*margin: 2em -2em -2em -2em; */
}



.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    flex-grow: 2;
}


.form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}


/* navigation bar */

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 8%;
    margin: 1% 6% 6%;
}

/*header area with picture and title*/

header {
    position: relative;
    display: flex;
    background-image: url("../rubber_duck_pattern.png");
    height: 6rem;
}



.title {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 3%;
    font-size: 280%;
    color: #8380B6;
    font-weight: bold;
}


.text {
    text-align: center;

}

/*section areas */

.sec, .field {
    margin: 1rem 3rem 1rem 3rem;
}

/* for desktop 
.sec, .field {
    margin: 2rem 4rem 2rem 4rem;
}*/


.sec div, .field div {
    margin-bottom: 5%;
}

#skill {
    text-align: center;
}

h1, h2 {
    font-style: bold;
    font-size: 160%;
    margin-bottom: 2rem;
}

#maintext {
    text-align: center;
}


/*myskills progress bar*/

.progress {
    position: relative;
    width: 13.5rem;
    height: 2rem;
    background: #ffff;
    border-radius: 20rem;
    overflow: hidden;
}

.progress__fill {
    position: absolute;
    width: 10rem;
    height: 2rem;
    background: #C2CAE8;
    border-radius: 20rem;
    overflow: hidden;
}

/* form style */ 

.placeholder_bar {
    width: 13.5rem;
    height: 2rem;
    background: #ffff;
    border-radius: 20rem;
    overflow: hidden;
    border-color: white;
    border-style: none;
}

input::placeholder {
    text-align: center;
    color: #8380B6;      
}


/* fill in text area */
textarea {
    width: 100%;
    height: 160px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-color: #8380B6;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #8380B6;
}



/* submit button */

button {
    text-align: right;
    color: #8380B6;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 5%;
    cursor: pointer;
}

button:hover {
    background-color: #C2CAE8;
}

button:active {
    background-color: #8380B6;
    color: white;
    size-adjust: 100%;
}

/*link style */

.link {
    text-decoration: none;
    color: white;
    transition: color 0.25s, border-color 0.25s, tranform 0.20s;
}

.link:hover {
    color: #8380B6;
    text-shadow: 0 0.7em 0.7em -0.4em;
    transform: translateY(-0.25em);
}


hr {
    color:  #8380B6
}
/* footer style */

/* footer style */

.footer {
    background-color: #C2CAE8;
    height: 2rem; 
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}